*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111827;
color:white;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
}

h1{
text-align:center;
margin-bottom:25px;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-bottom:25px;
}

.card{
background:#1f2937;
padding:20px;
border-radius:15px;
text-align:center;
}

.card h2{
font-size:35px;
color:#22c55e;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
}

.menu button{
height:55px;
border:none;
border-radius:12px;
background:#2563eb;
color:white;
font-size:17px;
cursor:pointer;
}
